/ConsoleApp/Release
/AssemblyInterpreterLib/Debug/Assembly.4B6487FB.tlog
/AssemblyInterpreterLib/Debug
/AssemblyInterpreterLib/Release
/ConsoleApp/.vs/ConsoleApp/v15/.suo
/ConsoleApp/.vs/ConsoleApp/v15/Browse.VC.db
/ConsoleApp/.vs/ConsoleApp/v15/Solution.VC.db
/ConsoleApp/.vs/ConsoleApp/v15/Solution.VC.db-shm
/ConsoleApp/.vs/ConsoleApp/v15/Solution.VC.db-wal
/ConsoleApp/.vs/ConsoleApp/v15/ipch/8f55506c19e75056.ipch
/ConsoleApp/.vs/ConsoleApp/v15/ipch/d1df2d1859bd150e.ipch
/ConsoleApp/.vs/ConsoleApp/v15/ipch/d2bd38ef23331eb6.ipch
/ConsoleApp/Debug
